.quicksite {
    display: flex;
    flex-direction: column;
    width: 500px;
    
    .header {
        color: rgba(20, 20, 255, .75);
        font-size: 50px;
        padding: 20px;
        border-bottom: 7px solid;
        width: 250px;
    }

    p {
        font-size: 15px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: 200px;
        
        .button {
            margin: 10px 0;
        }
    }

    .tables {
        min-height: 250px !important;
    }
}