.quicksite {
    display: flex;
    flex-direction: column;

    .header {
        margin: 20px auto 20px auto;
        padding: 50px;
        border: solid 5px red;
        color: red;
        background: black;
        font-size: 50px;
    }

    p {
        margin: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 200px;
        
        .button {
            margin: 10px 0;
        }
    }

    .tables {
        min-height: 250px !important;
    }
}